extends base.pug

block scripts
  script(src='static/script.js')
block scripts 
  script(src='https://kit.fontawesome.com/fe6cb16bc3.js' crossorigin='anonymous')
block style 
  style
    include ../static/style.css

block content
  section#introsection 
    h1 Welcome to the best Dance Academy 
    div|Eat Dance Sleep Repeat

  section#missionsection
    h1 Mission Section 
    .card
      h3 Dance Prefection
      .card-box 
        .card-img 
          img(src="static/img/1.png")
        .card-content
          p this is the best dance academy of the universe 


    .card
      h3 Dance the way like you
      .card-box 
        .card-img 
          img(src="static/img/2.png")
        .card-content
          p this is the best dance academy of the universe 
    .card
      h3 Expert teaching
      .card-box 
        .card-img 
          img(src="static/img/3.png")
        .card-content
          p this is the best dance academy of the universe 
       

  section#sponsersection 
    h2 Sponser Section 
    .sponser 
    i.fa.fa-apple
    i.fa.fa-windows
    i.fa.fa-skype
    i.fa.fa-google-plus
