h1{
    text-align: center;
    margin: 12px;
}
.container{
    min-height: 80vh;
}
.myform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myInput {
    width: 46%;
    margin: 11px;
    padding: 8px;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
    
    
}
.btn{
    padding: 11px 15px;
    border-radius: 10px;
    font-size: 22px;
    border: 2px solid red;
    outline: none;
    background:rgb(64, 148, 15);
    color: white;
    cursor: pointer;
}